{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
 <div class="container">
 <div class="py-3 px-3">
    <div class="py-1">
        <button id="print-button" onclick="window.print();" class="btn btn-secondary print-hide">Imprimer</button>
    </div>
 </div>
 <div class="px-3">
        <div class="card col-md-10">
            <div class="card-body">
                    <div class="">
                       <center> <h5>CARTE DE VACCINATION </h5> </center><br>
                       <center><b>Campagne de vaccination contre la {{ cr.vaccine.type.nom }}</b></center>
                    </div>
                    
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item"><b>Moughataa de: </b>{{ cr.center.moughataa}}</li>
                        <li class="list-group-item"><b>Site de vaccination: </b>{{ cr.center.nom}}</li>
                        <li class="list-group-item"><b>Nom: </b>{{ cr.patient.nom}} {{ cr.patient.prenom}}</li>
                        <li class="list-group-item"><b>NNI: </b>{{ cr.patient.nni}}</li>
                        <li class="list-group-item"><b>Date naisence: </b>{{ cr.patient.dateNaissance|date:"d/m/Y"}}</li>
                        <li class="list-group-item"><b>Nom du vaccine: </b>{{ cr.vaccine.nom}}</li>
                        <li class="list-group-item"><b>Total Dose: </b>{{ cr.vaccine.total_doses}}</li>
                        <li class="list-group-item"><b>Dose administré: </b>{{ cr.dose_administré}}</li>
                        <li class="list-group-item"><b>Date Prise: </b>{{ cr.date_darnier_dose|date:"d/m/Y"}}</li>
                        <li class="list-group-item"><b>Status: </b>{{ cr.status}}</li>
                        <li class="list-group-item"><center><img src="{{ cr.qr_code.url}}" width="200" height="200"></center></li>

                    </ul>
                    
            </div>
        </div>
        
    </div>
</div>
</div> 
{% block custom_js %}
<script>
window.addEventListener("beforeprint", function() {
    document.getElementById("print-button").style.display = "none";
  });
  
  window.addEventListener("afterprint", function() {
    document.getElementById("print-button").style.display = "inline-block";
  });
</script>
{% endblock custom_js %}
 
 {% endblock %}