{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
 <div class="container">
 <div class="py-3 px-3">
    <div class="py-1">
        <button id="print-button" onclick="window.print();" class="btn btn-secondary print-hide">Imprimer</button>
    </div>
 </div>
 <div class="px-3">
        <div class="card col-md-10">
            <div class="card-body">
                    <div class="">
                        <center> <h5> بطاقة تلقيح</h5> </center>
                       <center> <h5>CARTE DE VACCINATION </h5> </center>
                       <center><h6>{{ cr.vaccine.type.nom }}</h6></center>
                    </div>                    
                    <ul class="list-group list-group-flush "> 
                        <li class="list-group-item" style="font-size: 18px;">Wilaya:{{ cr.center.moughataa.wilaya.nom}}</li>
                        <li class="list-group-item" style="font-size: 18px;">Moughataa: {{ cr.center.moughataa}}</li>        
                        <li class="list-group-item" style="font-size: 18px;">Nom: {{ cr.patient.nom}} {{ cr.patient.prenom}}</li>
                        <li class="list-group-item" style="font-size: 18px;">NNI: {{ cr.patient.nni}}</li>
                        <li class="list-group-item" style="font-size: 18px;">Date naisence: {{ cr.patient.dateNaissance|date:"d/m/Y"}}</li>
                        <li class="list-group-item" style="font-size: 18px;">Dose: {{ cr.dose_administré}}/{{ cr.vaccine.total_doses}}</li>
                        <li class="list-group-item" style="font-size: 18px;">Vaccin: {{ cr.vaccine.nom}}</li>
                        <li class="list-group-item" style="font-size: 18px;">Centre: {{ cr.center.nom}}</li>
                        <li class="list-group-item" style="font-size: 18px;">Date: {{ cr.date_darnier_dose|date:"d/m/Y"}}</li>
                        <li class="list-group-item" style="font-size: 18px;">Numéro de Lot: {{ stockage.vaccine.numeroLot}}</li>
                        <!-- <li class="list-group-item"><b>Status: </b>{{ cr.status}}</li> -->
                        <li class="list-group-item"><img src="{{ cr.qr_code.url}}" width="200" height="200"></li>

                    </ul>
                    
            </div>
        </div>
        
    </div>
</div>
</div> 
{% block custom_js %}
<script>
window.addEventListener("beforeprint", function() {
    document.getElementById("print-button").style.display = "none";
  });
  
  window.addEventListener("afterprint", function() {
    document.getElementById("print-button").style.display = "inline-block";
  });
</script>
{% endblock custom_js %}
 
 {% endblock %}