{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
 <div class="container">
 <div class="py-3 px-3">
    <div class="py-1">
        <button id="print-button" onclick="window.print();" class="btn btn-primary print-hide">Imprimer</button>
        <a id="print-button1" href="{% url 'add_vaccination' %}" class="btn btn-secondary print-hide">Annuler</a>

    </div>
 </div>
 <div class="px-3">
        <div class="card col-md-12">
            <div class="card-body">
                    <div class="">
                        <center> <h5> {{ id_certificat.vaccin.type.nom }} شهادة تلقيح ضد</h5> </center>
                       <center> <h5>Certificat de vaccination contre {{ id_certificat.vaccin.type.nom }}</h5> </center>
                    </div>                    
                    <hr>
                    <table class="table table-borderless">
                        <tbody>
                            <tr style="font-size: 18px;">
                                <td style="text-decoration: underline;">Information Certificats</td>
                                <td></td>
                                <td style="text-align: right;">معلومات الشهادة</td>
                              </tr>
                              <tr style="font-size: 18px;">
                                <td>ID certificat:</td>
                                <td> {{ id_certificat.id_certificat}}</td>
                                <td style="text-align: right;">رقم الشهادة</td>
                              </tr>
                              <tr style="font-size: 18px;">
                                <td>Date du certificat:</td>
                                <td> {{ id_certificat.date_delivration|date:"d/m/Y"}}</td>
                                <td style="text-align: right;">تاريخ الشهادة</td>
                              </tr>
                          <!-- <tr style="font-size: 18px;">
                            <td>Wilaya: {{ cr.center.moughataa.wilaya.nom}}</td>
                            <td style="text-align: right;">الولاىة</td>
                          </tr>
                          <tr style="font-size: 18px;">
                            <td>Moughataa: {{ cr.center.moughataa.nom}}</td>
                            <td style="text-align: right;">المقاطعة</td>
                          </tr>
                          <tr style="font-size: 18px;">
                            <td>Nom Complet: {{ cr.patient.nom}}</td>
                            <td style="text-align: right;">الإسم الكامل</td>
                          </tr>
                          <tr style="font-size: 18px;">
                            <td>NNI: {{ cr.patient.nni}}</td>
                            <td style="text-align: right;">الرقم الوطني</td>
                          </tr>
                          <tr style="font-size: 18px;">
                            <td>Date de Naisence: {{ cr.patient.dateNaissance|date:"d/m/Y"}}</td>
                            <td style="text-align: right;">تاريخ الميلاد</td>
                          </tr>
                          
                          <tr style="font-size: 18px;">
                            <td>Dose: {{ cr.dose_administré}}/{{ cr.vaccine.total_doses}}</td>
                            <td style="text-align: right;">الجرعة</td>
                          </tr>
                          <tr style="font-size: 18px;">
                            <td>Vaccin: {{ cr.vaccine.nom}}</td>
                            <td style="text-align: right;">اللقاح</td>
                          </tr>
                          <tr style="font-size: 18px;">
                            <td>Centre: {{ cr.center.nom}}</td>
                            <td style="text-align: right;">المركز</td>
                          </tr>
                          <tr style="font-size: 18px;">
                            <td>Date: {{ cr.date_darnier_dose|date:"d/m/Y"}}</td>
                            <td style="text-align: right;">التاريخ</td>
                          </tr>
                          <tr>
                            <td><img src="{{ cr.qr_code.url}}" width="200" height="200"></td>
                            <td></td>
                          </tr>
                          <tr style="font-size: 18px;">
                            {% if id_certificat %}
                              <td>ID Certificat: {{ id_certificat.id_certificat }}</td>
                            {% endif%}
                            <td></td>
                          </tr> -->
                        </tbody>
                      </table>
                    
            </div>
        </div>
        
    </div>
</div>
</div> 
{% block custom_js %}
<script>
window.addEventListener("beforeprint", function() {
    document.getElementById("print-button").style.display = "none";
  });
  window.addEventListener("beforeprint", function() {
    document.getElementById("print-button1").style.display = "none";
  });
  
  window.addEventListener("afterprint", function() {
    document.getElementById("print-button").style.display = "inline-block";
  });
  window.addEventListener("afterprint", function() {
    document.getElementById("print-button1").style.display = "inline-block";
  });
</script>
{% endblock custom_js %}
 
 {% endblock %}