{% extends 'main_app/base.html' %}

{% block content %}
<div class="container w-full"> 
    <center><h3>Liste de vaccination courant</h3></center>
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Type-vaccination</th>
                        <th scope="col">Vaccine</th>
                        <th scope="col">Nombre dose</th>
                       <th scope="col">Centre</th>
                       <th scope="col">Date Expiration</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in vaccins %}
                      <tr>
                 
                       <td>{{ forloop.counter }}</td>
                        <td>{{ i.vaccine.type}}</td>
                        <td>{{ i.vaccine.nom }}</td>
                        <td>{{ i.dose_administré}}/{{ i.dose_number }} </td>
                        <td>{{ i.center.nom }}</td>
                        {% if i.dose_number == i.dose_administré %}
                        <td></td>
                        {% else %}
                        <td><a href="{% url 'vaccination_complementaire' i.id  %}" class="btn btn-primary">vacciné</a></td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                       
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
</div>
</div>

{% endblock %}