{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container ">
    <div class="row">
        <div class="col-sm-6">
            <h1>Nouveau center</h1>
            <form method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-info mb-4">Ajouter</button>
            </form> 
        </div>
        <div id="mapid" style="height: 500px;" class="col-md-6 my-4"></div><br>

    </div>

</div>
{% block custom_js %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7iU-ErVpTKuucu5uUi59Nqp0w7WNO4eA&libraries=places&callback=initMap"></script>
<script>
    var mymap = new google.maps.Map(document.getElementById('mapid'), {
        center: { lat: 20.2606, lng: -10.3631 },
        zoom: 6
    });

    var marker = new google.maps.Marker({
        position: { lat: 20.2606, lng: -10.3631 },
        map: mymap,
        draggable: true
    });

    marker.addListener('dragend', function(event) {
        var position = marker.getPosition();
        document.getElementById('lat').value = position.lat();
        document.getElementById('lon').value = position.lng();
    });
</script>
{% endblock custom_js %}


{% endblock %}