{% extends 'base.html' %}

{% block content %}
    <h1>Ajouter une localisation</h1>
    <form method="POST" action="{% url 'ajouter_center' %}">
        {% csrf_token %}
        <label for="nom">Nom :</label>
        <input type="text" name="nom" class="form-control" required>

        <label for="responsable">Gerent :</label>
        <select class="form-control"  Required name="responsable_email">
            {% for i in users %}
            <option>{{ i.email }}</option>
           
            {% endfor %}
        </select>
        <label for="moghataa">Moghataa :</label>
        <select class="form-control"  Required name="moughataa">
            {% for i in moughataa %}
            <option>{{ i.nom }}</option>
           
            {% endfor %}
        </select>
        <label for="latitude">Latitude :</label>
        <input type="text" name="latitude" class="form-control" id="lat" required>

        <label for="longitude">Longitude :</label>
        <input type="text" name="longitude" id="lon" class="form-control" required><br>
        <div id="mapid" style="height: 300px;"></div><br>
        <input type="submit" class="btn btn-outline-info mb-4" value="Ajouter">
    </form>
   

	<script>
		var mymap = L.map('mapid').setView([20.2606, -10.3631], 6);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
		}).addTo(mymap);

		var marker = L.marker([20.2606, -10.3631], {
			draggable: true
		}).addTo(mymap);

		marker.on('dragend', function(event) {
			var position = marker.getLatLng();
			document.getElementById('lat').value = position.lat;
			document.getElementById('lon').value = position.lng;
		});
	</script>

    
{% endblock %}