{% extends 'main_app/base.html' %}

{% block content %}
<div class="container w-full"> 
    <center><h1>L'Historique de stock </h1></center>
    <div class="row my-2 mx-4">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Type-Op</th>
                        <th scope="col">Vaccine</th>
                        <th scope="col">Quantite</th>
                       <th scope="col">Date Operation</th>
                       <th scope="col">Date Expiration</th>
                       <th scope="col">Numéro Lot</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in histoir %}
                      <tr>
                 
                       <td>{{ forloop.counter }}</td>
                        <td>{{ i.typeOperation}}</td>
                        <td>{{ i.vaccine.nom }}</td>
                        <td>{{ i.quantite }}</td>
                        <td>{{ i.dateOperation }}</td>
                        <td>{{ i.dateExpiration }}</td>
                        <td>{{ i.numeroLot }}</td>
                      </tr>
                    {% endfor %}
                       
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
</div>
</div>

{% endblock %}