{% extends 'main_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <a href="{% url 'add_vaccine' %}" class="btn btn-outline-info my-2">Nouvelle vaccine</a>
    
    <div class="row">
        {% for i in vaccine %}
        <div class="col-sm-4">
        <div class="card">
            <div class="card-header bg-white">
                <h5><a class="article-title" href="#">{{ i.nom }}</a></h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                        <li class="list-group-item">Type-Vaccination: <b>{{  i.type.nom }}</b></li>
                        <li class="list-group-item">Fabricant: <b>{{  i.fabricant}}</b></li>
                        <li class="list-group-item">Nomber doses: <b>{{ i.total_doses}}</b></li>
                        <li class="list-group-item">Dose Administrée: <b>{{ i.doses_administrées}}</b></li>
                </ul>
            </div>
        </div>
        
    </div>
    {% endfor %}
    
</div>

{% endblock %}
  

      
