{% extends 'main_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Les Types de Vaccination Courant</h2>
    <a href="{% url 'add_vaccine' %}" class="btn btn-primary my-2">Nouveau-Type</a>
    
    <div class="row">
        {% for i in type_vaccination %}
        <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4><a>{{ i.nom }}</a></h4>
            <!-- <a href="{% url 'add_vaccine' %}" style="color: white;" class="btn btn-secondary">Suprimmer</a>
            <a href="{% url 'add_vaccine' %}" style="color: white;" class="btn btn-danger">Modifier</a> -->
        </div>
            
            <div class="card-body">
                <ul class="list-group">
                        <li class="list-group-item">Categorie visé: {{  i.categorie }}</li>
                </ul>
            </div>
        </div>
        
    </div>
    {% endfor %}
    
</div>

{% endblock %}
  

      
