{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <img src="{% static 'OIP.jpg' %}" alt="logoVaccin" style="margin-left: 150px;" />
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Connecter</button>
                <small class="text-muted ml-2">
                    <a href="#">Mot de passe oublier?</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}