{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        
        <div class="media-body">
          <h2 class="account-heading">Profile Information</h2>
          <h5 class="fontawesome-free">{{ user.email }}</h5>
          <div class="text-end"> <a href="{% url 'changePassMot' %}" type="button" class="btn btn-primary">Changer-Mot-passe</a>
          </div>
          <hr>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ u_form.as_p }}
              {{ p_form.as_p }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Modifier</button>
          </div>
      </form>
    </div>
{% endblock content %}